footer {
  background-color: #d3d9a1; /* Couleur de fond sombre */
  color: #242627; /* Texte clair */
  text-align: center;
  padding: 20px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  border-top: 2px solid #34495e;
}

footer p {
  margin: 5px 0;
}


header {
  background-color: #bdd9a1;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #045cdf;
    text-decoration: none;

    &:hover {
      color: #084298;
    }
  }

  .nav-link {
    color: #333;
    margin-right: 1rem;
    transition: color 0.3s ease;

    &:hover {
      color: #0d6efd;
    }
  }

  .dropdown-toggle {
    cursor: pointer;
  }

  .form-control {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
  }

  .btn-outline-success {
    color: #198754;
    border-color: #198754;

    &:hover {
      background-color: #198754;
      color: #fff;
    }
  }

  @media (max-width: 768px) {
    .navbar-collapse {
      background-color: #faf8f8;
      padding: 1rem;
    }

    .nav-link {
      margin: 0.5rem 0;
    }
  }
}